.nav {
  height: 3.5rem;
  background: #8181ff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
}

.nav a {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}
.nav a:active {
  color: black;
}

.nav ol {
  display: flex;
  width: 200px;
  justify-content: space-between;
  list-style: none;
}

.nav ol li a {
  color: white;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.nav ol li a:hover {
  color: #ffd64e;
}

.nav ol li a.active {
  color: #ffd64e;
}
